header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté por encima de todo */
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
}

.dropdown-content a:hover {
    background: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown.active .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .dropdown-content {
        position: static;
        box-shadow: none;
    }
}